<nav>
    <div>header</div>
    <ul>
        <!-- replace with logo -->
      <li><a routerLink="/" routerLinkActive="active">Home</a></li> 
      <!-- replace with search bar component -->
      <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
      <!-- move to right side, replace with setting cog wheel -->
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
      <!-- only visible when logged in, go to user's persona page -->
      <li><a routerLink="/persona/test" routerLinkActive="active">Persona</a></li>
    </ul>
  </nav>