<nav>
    <span>header</span>
    <span>
        <!-- replace with logo -->
      <span><a routerLink="/">Home</a></span> 
      <!-- replace with search bar component -->
      <span><a routerLink="/search">Search</a></span>
      <!-- move to right side, replace with setting cog wheel -->
      <span><a routerLink="/settings">Settings</a></span>
      <!-- only visible when logged in, go to user's persona page -->
      <span><a routerLink="/persona/test">Persona</a></span>
      <auth-buttons></auth-buttons>
    </span>
</nav>